/build/*
/build/
build/
build/*

src/cli_new/.virtualenv/
src/cli_new/.virtualenv/*

autom4te.cache/
autom4te.cache/*

Makefile.in

configure

m4/
m4/*

*.*.swp
*.*.swo

ltmain.sh


.clang-format
.reviewboardrc
*.m4
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
missing
